.list {
  box-shadow: 0 2px 5px 0 #C1C1C1;
  padding: 15px 20px 15px 20px; }

.list__header {
  margin-bottom: 10px; }

.list__body {
  margin-bottom: 10px; }
  .list__body .list__item {
    font-size: 12px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .list__body .list__item .icon {
      font-size: 10px;
      cursor: pointer; }
      .list__body .list__item .icon + span {
        margin-right: 10px; }
