<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="../../public/css/tab/tab.css">
    <script src="../../public/build/js/bundle.js"></script>
</head>
<body>
<div>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Small')" id="defaultOpen">Ambience</button>
        <button class="tablinks" onclick="openTab(event, 'Medium')">Food</button>
        <button class="tablinks" onclick="openTab(event, 'Large')">Menu</button>
    </div>

    <div id="Small" class="tabcontent">

    </div>

    <!-- Tab content -->
    <div id="Small" class="tabcontent">
        <h3>Small</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi eu sodales velit. Duis tristique orci sit amet ipsum molestie,
            eget fermentum arcu auctor. Vestibulum laoreet augue blandit quam efficitur molestie.
            Quisque convallis ultrices scelerisque. Fusce sit amet arcu et nisi porttitor elementum.
            Donec vestibulum, nisl at pellentesque elementum, enim urna porta purus, id aliquam magna mauris sed tortor.
            Aenean volutpat porta mauris in mattis. Morbi eget elit urna. Vivamus tempus non risus molestie feugiat. Nulla a consequat velit, et placerat purus. Ut non tristique dui.
        </p>
    </div>

    <div id="Medium" class="tabcontent">
        <h3>Medium</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi eu sodales velit. Duis tristique orci sit amet ipsum molestie,
            eget fermentum arcu auctor. Vestibulum laoreet augue blandit quam efficitur molestie.
            Quisque convallis ultrices scelerisque. Fusce sit amet arcu et nisi porttitor elementum.
            Donec vestibulum, nisl at pellentesque elementum, enim urna porta purus, id aliquam magna mauris sed tortor.
            Aenean volutpat porta mauris in mattis. Morbi eget elit urna. Vivamus tempus non risus molestie feugiat. Nulla a consequat velit, et placerat purus. Ut non tristique dui.
        </p>
    </div>

    <div id="Large" class="tabcontent">
        <h3>Large</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi eu sodales velit. Duis tristique orci sit amet ipsum molestie,
            eget fermentum arcu auctor. Vestibulum laoreet augue blandit quam efficitur molestie.
            Quisque convallis ultrices scelerisque. Fusce sit amet arcu et nisi porttitor elementum.
            Donec vestibulum, nisl at pellentesque elementum, enim urna porta purus, id aliquam magna mauris sed tortor.
            Aenean volutpat porta mauris in mattis. Morbi eget elit urna. Vivamus tempus non risus molestie feugiat. Nulla a consequat velit, et placerat purus. Ut non tristique dui.
        </p>
    </div>
</div>
</body>
<!-- Show the default tab -->
<script>document.getElementById("defaultOpen").click();</script>
</html>