@import "../variable";
@import "../mixin";
@import "../index";

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tab {
  overflow: hidden;
  background-color: color(--secondary);
  border: 1px solid color(--secondary-ext-1);
  display: flex;
  justify-content: space-around;
  border-radius: radius(--medium);
}

.tab {
  button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 76px;
    transition: 0.3s;
    font-size: 14px;
    color: color(--tertiary-ext-1);
    &:hover,
    &.active{
      border-bottom: 4px solid color(--primary);
    }
  }
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
}