@import "../variable";
@import "../mixin";
@import "../index";

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tab {
  overflow: hidden;
  background-color: color(--secondary);
  border: 1px solid color(--secondary-ext-1);
  display: flex;
  justify-content: space-around;
  border-radius: radius(--medium);
}

.tab--pill--vertical {
  display: flex;
  flex-direction: column;
  div {
    cursor: pointer;
    padding: 20px 76px;
    background-color: color(--secondary);
    color: color(--primary);
    margin-right: -4px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    &.active{
      background-color: color(--primary);
      color: color(--secondary);
    }
    &:first-child {
      border-top-left-radius: radius(--medium);
      border-bottom-left-radius: radius(--medium);
    }
    &:last-child {
      border-top-right-radius: radius(--medium);
      border-bottom-right-radius: radius(--medium);
    }
  }
}


.pill--small {
  div {
    padding: 10px 50px;
  }

}
.pill--large {
  div {
    padding: 20px 76px;
  }
}
.tab--pill--horizontal {
  display: flex;
  flex-direction: row;
  div {
    cursor: pointer;
    background-color: color(--secondary);
    color: color(--primary);
    transition: all ease-in-out .5s;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    &:not(:first-child),
    &:not(:last-child)
    {
      border-style: solid;
      border-top-color: color(--primary);
      border-bottom-color: color(--primary);
      border-right-color: color(--primary);
      border-left: none;
    }

    &.active{
      background-color: color(--primary);
      color: color(--secondary);
    }
    &:first-child {
      border-top-left-radius: radius(--medium);
      border-bottom-left-radius: radius(--medium);
      border-style: solid;
      border-left-color: color(--primary);
    }
    &:last-child {
      border-top-right-radius: radius(--medium);
      border-bottom-right-radius: radius(--medium);
      border-style: solid;
      border-top-color: color(--primary);
      border-bottom-color: color(--primary);
      border-right-color: color(--primary);
      border-left: none;
    }
    &:hover {
      background: color(--primary);
      color:color(--secondary);
    }
  }
}
.tab {
  div {
    cursor: pointer;
    padding: 20px 76px;
    transition: border-bottom ease-in-out .1s;
    color: color(--tertiary-ext-1);
    &:hover,
    &.active{
      border-bottom: 4px solid color(--primary);
    }
  }
}

.tabcontent {
  display: none;
  padding: 10px 15px;
  border-top: none;
  animation: fadeEffect 1s;
}