@import "../variable";
@import "../mixin";
@import "../index";

.form {
  font-family: 'Poppins';
}

.form {
  height: auto;
  border-radius: radius(--medium);
  background-color: color(--secondary);
  box-shadow: 0 2px 5px 0 color(--tertiary);
  div,
  span {
    letter-spacing: 0.4px;
  }
}
.form__header {
  border-bottom: 1px solid color(--secondary-ext-1);
  padding: 15px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  div {
    > span {
      font-size: 12px;
      color: color(--tertiary);
    }
  }
}
.form__footer {
  border-top: 1px solid color(--secondary-ext-1);
  padding: 15px 30px 30px 30px;
  display: flex;
  justify-content: flex-end;
}
.form__body {
  padding: 15px 30px 30px 30px;
}
.column__one {
  width: 100%;
  float: left;
  padding: 10px;
}
.column__two {
  width: 50%;
  padding-right: 15px;
}
.column__three {
  width: 33.33%;
  float: left;
  padding: 10px;
}
.column__four {
  width: 25%;
}
.column__five {
  width: 20%;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  label {
    font-size: size(--medium);
    font-weight: 500;
  }
  .text-vertical__title {
    margin-bottom: 5px;
    color: color(--tertiary);
    font-size: 13px;
  }
  .text-vertical__content {
    font-weight: 600;
    font-size: 13px;
  }
}
.row {
  margin-left: -10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row--flex {
  display: flex;
  flex-direction: row;
}

/*Add additional class to element to set the fixed width of container*/
.column--flex {
  display: flex;
  flex-direction: column;
}

.row--flex {
  display: flex;
  flex-direction: row;
   div {
     flex-grow: 1;
     flex-shrink: 1;
   }
}
.form__label--horizontal {
  max-width: 70px;
}

.form__label--vertical {
  margin-bottom: 10px;
}

.form__group {
  margin-bottom: 10px;
}

