<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cashbac Form</title>
    <link rel="stylesheet" href="../../public/build/css/stylesheet.css">
    <script src="../../public/build/js/bundle.js"></script>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
     <link rel="stylesheet" href="../../node_modules/md-date-time-picker/dist/css/themes/light/light-blue/mdDateTimePicker.css" />
     <script src="../../node_modules/md-date-time-picker/dist/js/moment.min.js"></script>
     <script src="../../node_modules/md-date-time-picker/dist/js/draggabilly.pkgd.min.js"></script>
     <script src="../../node_modules/md-date-time-picker/dist/js/mdDateTimePicker.min.js"></script>
</head>
<body>

<div style="max-width:960px;margin: 30px auto;">

    <div class="tab--pill--horizontal pill--small" style="margin-bottom: 30px;">
         <div class="active tablinks active" onclick="openTab(event, 'Ambience')" id="defaultOpen">Ambience</div>
         <div class="tablinks" onclick="openTab(event, 'Food')">Food</div>
         <div class="tablinks" onclick="openTab(event, 'Menu')">Menu</div>
    </div>

    <div id="Ambience" class="tabcontent">

    </div>

    <div id="Food" class="tabcontent">

    </div>

    <div id="Menu" class="tabcontent">

    </div>

    <div class="tab" style="margin-bottom: 30px;">
        <div class="tablinks active" onclick="openTab(event, 'Small')" id="defaultOpen">Detail</div>
        <div class="tablinks" onclick="openTab(event, 'Medium')">Terminal</div>
        <div class="tablinks" onclick="openTab(event, 'Large')">Beacon Store</div>
    </div>

    <div class="form">
        <div class="form__header margin--normal-t">
            <div>
                <h3 class="margin--normal-t margin--small-b">Outlet Information</h3>
                <span>Fill below form of your detail outlet</span>
            </div>
            <div>
                <label class="switch margin--normal-t">
                    <input type="checkbox">
                    <span class="slider">
                        <span class="idle" id="idleOutletInformation">
                            Invisible
                        </span>
                        <span class="active d-none" id="activeOutletInformation">
                            Visible
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <div class="form__body">
            <div class="row">
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Outlet Name</label>
                    </div>
                    <div>
                        <input type="text"/>
                    </div>
                </div>
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Phone Number</label>
                    </div>
                    <input type="text"/>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Number of POS</label>
                    </div>
                    <input type="text"/>
                </div>
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Postal Code</label>
                    </div>
                    <input type="text"/>
                </div>
            </div>
        </div>
    </div>


    <div class="form">
        <div class="form__header margin--normal-t">
            <div>
                <h3 class="margin--small-b margin--medium-t">Outlet Manager</h3>
            </div>
        </div>

        <div class="form__body">
            <div class="row">
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Name</label>
                    </div>
                    <div>
                        <input type="text"/>
                    </div>
                </div>
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Password</label>
                    </div>
                    <input type="password"/>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Phone Number</label>
                    </div>
                    <input type="text"/>
                </div>
                <div class="column">
                    <div class="margin--medium-b">
                        <label>Password Confirm</label>
                    </div>
                    <input type="password"/>
                </div>
            </div>
            <div class="row--flex">
                <div class="column--flex column__two">
                    <div class="form__group">
                        <div class="form__label--vertical">
                            <label>Latitude</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                    <div>
                        <div class="form__label--vertical">
                            <label>Longitude</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="row--flex column__two">
                    <div class="form__label--horizontal">
                        <label>Address</label>
                    </div>
                    <div>
                        <textarea> </textarea>
                    </div>
                </div>
            </div>

            <div class="list" style="margin-top:30px;">
                 <div class="list__header">
                   <h3><Operation Hours/h3>
                 </div>
                 <div class="list__body" style="width:50%;">
                        <div class="time">
                            <div class="day">
                                <input type="checkbox" />
                                <span class="day__name">Sunday</span>
                            </div>
                            <div class="hours">
                                <div class="hours__from">
                                    <input type="time">
                                </div>
                                <div class="hours__separator">
                                    <span>-</span>
                                </div>
                                <div class="hours__to">
                                    <input type="time">
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
            <div class="list" style="margin-top:30px;">
                <div class="list__header">
                        <h3>Operation Hours</h3>
                </div>
                <div class="list__body">
                    <div class="list__item">
                        <div class="text">
                            <strong>
                                Sunday - Monday
                            </strong>
                        </div>
                        <div class="icon">
                            <span>Add</span>
                            <span>Delete</span>
                        </div>
                    </div>
                    <div class="list__item">
                          <div class="text">
                                <strong>
                                    Tuesday - Wednesday
                                </strong>
                          </div>
                           <div class="icon">
                              <span>Add</span>
                              <span>Delete</span>
                          </div>
                    </div>
                    <div class="list__item">
                          <div class="text">
                                <strong>
                                    Thursday - Friday
                                </strong>
                          </div>
                          <div class="icon">
                              <span>Add</span>
                              <span>Delete</span>
                          </div>
                    </div>
                </div>
                <div class="list__footer">
                       <div>
                           Add Other Operation Hour
                       </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form">
        <div class="form__header margin--normal-t">
            <div>
                <h3 class="margin--small-b margin--medium-t">Bank Account Information</h3>
            </div>
        </div>

        <div class="form__body">
            <div class="row">
                <div class="column__one">
                    <div class="margin--small-b">
                        <strong>
                            Do you want to use the same bank account that you set in the merchant section ?
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="text-vertical__title">
                        Bank Name
                    </div>
                    <div class="text-vertical__content">
                        Bank Central Asia
                    </div>
                </div>
                <div class="column">
                    <div class="text-vertical__title">
                        Account Name
                    </div>
                    <div class="text-vertical__content">
                        PT. Hari & Maemunah Bersatu
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="text-vertical__title">
                        Bank Branch
                    </div>
                    <div class="text-vertical__content">
                        Padalarang, Bandung
                    </div>
                </div>
                <div class="column">
                    <div class="text-vertical__title">
                        Account Number
                    </div>
                    <div class="text-vertical__content">
                        198237563
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="text-vertical__title">
                        Email for Payment Report
                    </div>
                    <div class="text-vertical__content">
                        haandma@haandma.com
                    </div>
                </div>
            </div>
        </div>
        <div class="form__footer">
            <Button class="button--large button--primary" id="id-of-button-to-open-it">
                Save
            </Button>
            <Button class="button--large button--secondary">
                            cancel
            </Button>
        </div>
    </div>
</div>
</body>
<script>

    var dialog = new mdDateTimePicker.default({
                          type: 'time'
                        });



    var toggleButton = document.getElementById('id-of-button-to-open-it');
    toggleButton.addEventListener('click', function() {
        dialog.toggle();
    });


</script>
</html>