button {
  transition: all ease-in-out .5s; }
  button:hover {
    cursor: pointer; }

.button--large {
  height: 50px;
  width: 191px;
  font-size: 16px; }

.button--medium {
  height: 40px;
  width: 171px;
  font-size: 14px; }

.button--small {
  height: 30px;
  width: 151px;
  font-size: 14px; }

.button--primary {
  border: 0;
  background-color: #26ADE4;
  color: #ffffff;
  position: relative; }
  .button--primary.button--spinner > * {
    display: none; }

.button--secondary {
  border: 1px solid #C1C1C1;
  background-color: #ffffff;
  color: #C1C1C1; }

.button--rounded {
  border-radius: 25px; }

.button--spinner:after {
  content: '';
  width: 30px;
  height: 30px;
  opacity: 0.8;
  border: 2px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
