/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.modal-cashbac {
  position: fixed;
  border-radius: 4px;
  display: none;
  box-shadow: 1px 1px 1px #C1C1C1;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-cashbac__content {
  border-radius: 4px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

.modal-cashbac__header {
  background: #202d3d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 30px 20px 30px; }
  .modal-cashbac__header div {
    color: #ffffff; }
  .modal-cashbac__header .text .sub-title {
    margin-top: 8px;
    font-size: 12px; }
  .modal-cashbac__header .action {
    display: flex;
    align-items: center; }
    .modal-cashbac__header .action:hover {
      cursor: pointer; }

.modal-cashbac__body {
  padding-bottom: 30px; }
  .modal-cashbac__body .tab {
    background: #ededed; }
    .modal-cashbac__body .tab div {
      border: none;
      outline: 0;
      cursor: pointer;
      padding: 10px 4px;
      transition: border-bottom ease-in-out .1s;
      font-size: 12px;
      color: #d1d1d1; }
      .modal-cashbac__body .tab div:active {
        border-bottom: 4px solid #26ADE4;
        color: #26ADE4; }
      .modal-cashbac__body .tab div:hover {
        border-bottom: 4px solid #26ADE4;
        color: #26ADE4; }
  .modal-cashbac__body .fill {
    font-size: 12px; }
    .modal-cashbac__body .fill .list {
      box-shadow: none; }

.modal-cashbac__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 30px 30px;
  background: #ededed; }
  .modal-cashbac__footer .left {
    align-self: center;
    font-size: 12px; }
    .modal-cashbac__footer .left span {
      color: #C1C1C1; }
  .modal-cashbac__footer .right {
    align-self: center; }
