.form {
  font-family: 'Poppins'; }

.form {
  height: auto;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 #C1C1C1; }
  .form div,
  .form span {
    letter-spacing: 0.4px; }

@media screen and (max-width: 480px) {
  strong {
    line-height: 25px; } }

.form__header {
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 30px 30px 30px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .form__header {
      flex-direction: column; } }
  .form__header div > h3.title {
    margin-top: 10px;
    margin-bottom: 10px; }
  .form__header div > span.sub-title {
    font-size: 12px;
    color: #C1C1C1; }

.form__footer {
  border-top: 1px solid #f1f1f1;
  padding: 15px 30px 30px 30px;
  display: flex;
  justify-content: flex-end; }
  .form__footer button:first-child {
    margin-right: 20px; }

.form__body {
  padding: 15px 30px 30px 30px; }

.column__one {
  width: 100%;
  float: left;
  padding: 10px; }

.column__two {
  width: 50%;
  padding-right: 15px; }

.column__three {
  width: 33.33%;
  float: left;
  padding: 10px; }

.column__four {
  width: 25%; }

.column__five {
  width: 20%; }

.column {
  float: left;
  width: 50%;
  padding: 10px; }
  .column label {
    font-size: 14px;
    font-weight: 500; }

.text-vertical__title {
  margin-bottom: 5px;
  color: #C1C1C1;
  font-size: 13px; }

.text-vertical__content {
  font-weight: 600;
  font-size: 13px; }

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px; }
  @media screen and (max-width: 480px) {
    .row {
      flex-direction: column; } }

.column--1 > div.vertical {
  width: 100%; }
  .column--1 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--1 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--1 > div.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .column--1 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--1 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--2 > div.vertical {
  width: 50%; }
  .column--2 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--2 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--2 > div.horizontal {
  width: 50%;
  display: flex;
  flex-direction: row; }
  .column--2 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--2 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--3 > div.vertical {
  width: 33.33333%; }
  .column--3 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--3 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--3 > div.horizontal {
  width: 33.33333%;
  display: flex;
  flex-direction: row; }
  .column--3 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--3 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--4 > div.vertical {
  width: 25%; }
  .column--4 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--4 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--4 > div.horizontal {
  width: 25%;
  display: flex;
  flex-direction: row; }
  .column--4 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--4 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--5 > div.vertical {
  width: 20%; }
  .column--5 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--5 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--5 > div.horizontal {
  width: 20%;
  display: flex;
  flex-direction: row; }
  .column--5 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--5 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--6 > div.vertical {
  width: 16.66667%; }
  .column--6 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--6 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--6 > div.horizontal {
  width: 16.66667%;
  display: flex;
  flex-direction: row; }
  .column--6 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--6 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--7 > div.vertical {
  width: 14.28571%; }
  .column--7 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--7 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--7 > div.horizontal {
  width: 14.28571%;
  display: flex;
  flex-direction: row; }
  .column--7 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--7 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--8 > div.vertical {
  width: 12.5%; }
  .column--8 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--8 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--8 > div.horizontal {
  width: 12.5%;
  display: flex;
  flex-direction: row; }
  .column--8 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--8 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--9 > div.vertical {
  width: 11.11111%; }
  .column--9 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--9 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--9 > div.horizontal {
  width: 11.11111%;
  display: flex;
  flex-direction: row; }
  .column--9 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--9 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--10 > div.vertical {
  width: 10%; }
  .column--10 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--10 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--10 > div.horizontal {
  width: 10%;
  display: flex;
  flex-direction: row; }
  .column--10 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--10 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--11 > div.vertical {
  width: 9.09091%; }
  .column--11 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--11 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--11 > div.horizontal {
  width: 9.09091%;
  display: flex;
  flex-direction: row; }
  .column--11 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--11 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

.column--12 > div.vertical {
  width: 8.33333%; }
  .column--12 > div.vertical:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--12 > div.vertical {
      width: 100%;
      margin-bottom: 10px; } }

.column--12 > div.horizontal {
  width: 8.33333%;
  display: flex;
  flex-direction: row; }
  .column--12 > div.horizontal:not(:last-child) {
    margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .column--12 > div.horizontal {
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px; } }

/*Add additional class to element to set the fixed width of container*/
.column--flex {
  display: flex;
  flex-direction: column; }

.form__label--horizontal {
  width: 110px; }
  .form__label--horizontal + div {
    flex-grow: 1;
    flex-shrink: 1; }
  @media screen and (max-width: 480px) {
    .form__label--horizontal {
      margin-bottom: 10px; } }

.form__label--vertical {
  margin-bottom: 10px; }
  .form__label--vertical label {
    font-size: 16px;
    font-weight: normal; }

.form__group {
  margin-bottom: 10px; }

.form__input--success .success__field {
  border: 1px solid #26ADE4; }

.form__input--error > .error__field {
  border: 1px solid red; }

.form__input--error > .error__text {
  color: red;
  position: relative;
  top: 5px;
  font-size: 11px;
  display: block; }

.form__input--error > .error__text--hide {
  display: none; }
