<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="../../public/css/thumbnail/thumbnail.css">
    <script src="../../public/build/js/bundle.js"></script>
</head>
<body>
<div class="d-flex">
    <div>
        <a target="_blank" href="../../public/assets/images/img_forest.jpg">
          <img
                class="thumbnail"
                src="../../public/assets/images/img_forest.jpg" alt="Forest" style="width:150px"
          >
        </a>
    </div>
    <div>
        <a target="_blank" href="../../public/assets/images/img_forest.jpg">
          <img
                class="thumbnail"
                src="../../public/assets/images/img_forest.jpg" alt="Forest" style="width:150px"
          >
        </a>
    </div>
    <div>
        <a target="_blank" href="../../public/assets/images/img_forest.jpg">
          <img
                class="thumbnail"
                src="../../public/assets/images/img_forest.jpg" alt="Forest" style="width:150px"
          >
        </a>
    </div>
</div>
</body>
</html>