<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cashbac Modal</title>
    <link rel="stylesheet" href="../../public/css/modal/modal.css">
    <script src="../../public/build/js/bundle.js"></script>
</head>
<body>


    <div style="
                max-width: 400px;
                position: relative;
                margin: 0 auto;
                top: 24%;"
    >
        <input type="button" value="show modal" onclick="showModal('sampleModal')">
    </div>

</body>
</html>