<div id="modalTutorial" style="padding-top:20px;">
<div class="pushToBottom30">
    <h1>Modal</h1>
</div>
 <Button class="button--large button--primary pushToBottom30" onclick="showModal('sampleModal')">
            Show Modal
</Button>
</div>


<div class="modal-cashbac" id="sampleModal">
    <div class="modal-cashbac__content">
        <div class="modal-cashbac__header">
            <div class="text">
                <div class="title">
                    <h3>
                        Populated Data from Zomato
                    </h3>
                </div>
                <div class="sub-title">
                    <span>Give checklist if you think the data is valid</span>
                </div>
            </div>
            <div class="action" onclick="hideModal('sampleModal')">
                <span>
                    close
                </span>
            </div>
        </div>
        <div class="modal-cashbac__body">
            <div class="tab">
                <div class="tablinks active" onclick="openTab(event, 'Small')">Informations</div>
                <div class="tablinks" onclick="openTab(event, 'Medium')">Photos</div>
                <div class="tablinks" onclick="openTab(event, 'Large')">Menu</div>
            </div>
            <div class="fill">
                <div class="list">
                    <div class="list__header">
                        <div class="text">
                            <h3>

                            </h3>
                        </div>
                        <div class="icon">

                        </div>
                    </div>
                    <div class="list__body">

                    </div>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            </div>
        </div>
        <div class="modal-cashbac__footer">
            <div class="left">
                <span>
                    Check other tabs before you populate
                </span>
            </div>
            <div class="right">
                    <Button class="button--large button--primary button--rounded">
                               Next
                    </Button>
            </div>
        </div>
    </div>
</div>

